h1 {
  font-family: 'Bree Serif', serif;
  font-size: 32px;
}

h1, h3, p {
  font-family: 'Bree Serif', serif;
}

.section {
  min-height: 600px;
  width: 100%;
}

.left-title {
  width: 100%;
  padding: 30px;
  text-align: center;
}

.content {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
  min-height: 100px;
  display: flex;
  justify-content: space-around;
}

.content img {
  width: 300px;
  min-height: 300px;
}

.description {
  width: 300px;
}

.description h3 {
  font-size: 24px;
  margin-bottom: 24px;
}

.cafe-tradicional {
  background-color: #ccf3f3;
}

.right-title {
  width: 100%;
  padding: 30px;
  text-align: center;
}

.cafe-descafeinado {
  background-color: #fff;
}

.cafe-extra-forte {
  background-color: rgb(220 221 222);
}

.footer {
  background-color: rgb(58, 39, 39);
  display: flex;
  justify-content: center;
  padding: 12px;
  color: white;
  height: 60px;
}

@media only screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
  .description {
    width: 80%;
  }

  
}